body{
	 margin: 0;
	 height: 100%;
	 width:100%;
	}

#container
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: -50px;
	padding: 0;
	
}

#bg 
{
	content: url("background.jpg");
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: -50px;
	padding: 0;
	position: absolute;
	z-index: -500;
}

#text1
{
	text-align: left;
	float: left;
	font-family: "Century Gothic";
	margin-top: 200px;
	margin-left: 180px;
	padding: 50px;
	font-size: 170%;
	color: #f9811a;
	position:absolute;
}

#text2
{
	text-align: left;
	float: left;
	font-family: "Century Gothic";
	margin-top: 785px;
	margin-left: 180px;
	padding: 50px;
	font-size: 160%;
	color: #f9811a;
	position:absolute;
}

#line1
{
	margin: 920px 0px 0px 820px;
	width:270px;
	height:2px;
	border:0.5px solid #fff;
	background: #4B4B4B;
	position: absolute;
}

#line2
{
	margin: 915px 0px 0px 870px;
	width:220px;
	height:2px;
	border:0.5px solid #fff;
	background: #4B4B4B;
	position: absolute;
}

#text3
{
	text-align: left;
	float: left;
	font-family: "Century Gothic";
	margin-top: 910px;
	margin-left: 580px;
	padding: 50px;
	font-size: 110%;
	color: #000;
	position:absolute;
}

#sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame 
{
    position:absolute;
    width:500px;
    margin-top:880px; /*center-aligned*/
	margin-left: 380px;
	padding-top: 0px;
	margin-bottom: 0px;
	height: 200;
}

#slider, #slider div.sliderInner {
    width:250px;height:250px;/* Must be the same size as the slider images */
}

#slider {
	background:black no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:250px;height:250px;
}

#slider .video {
	background-image:transparent no-repeat 50% 50%;
}

#slider div.navBulletsWrapper  {
    top:240px;/* Its position is relative to the #slider */
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider div.navBulletsWrapper div.active {background-position:0 -11px;}

#header
{
	background-position: 0px 0px;
	background-size: 500px;
}

#header p.one
{
	text-align: right;
	float: right;
	font-family: "Century Gothic";
	padding: 50px;
	font-size: 170%;
	color: #f9811a;
}

#header p.two
{
	text-align: right;
	margin: 110px 0 0 690px;
	float: right;
	font-family: "Century Gothic";
	font-size: 140%;
	color: #000;
	position: absolute;
}

#header2
{
	background-position: 0px 0px;
	background-size: 500px;
}

#header2 p.one1
{
	text-align: left;
	float: right;
	font-family: "Century Gothic";
	padding: 50px;
	margin-top: 930px;
	margin-left: 550px;
	font-size: 140%;
	color: #000;
	position: absolute;
}

#box2
{
	width: 650px;
	height: 270px;
	margin: 870px 0px 0px 495px;
	background-color: #000;
	opacity:0.3;
	filter:alpha(opacity=60);
	position: absolute;
	border-radius: 10px;
}

#box3
{
	width: 270px;
	height: 200px;
	border-radius: 50px;
	margin: 930px 0px 0px 860px;
	background-color: #000;
	opacity:0.2;
	filter:alpha(opacity=60);
	position: absolute;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
}

#box
{
	margin: 250px 0px 0px 10px;
	padding-top: 50px;
	width:200px;
	height:850px;
	border:1px solid #000;
	float: left;
	background: #000;
}

#box ul
{
	text-align: left;
	margin:0;
	padding:0;
}

#box ul li
{
	list-style-type: none;
	padding: 2;
	font-family: "Century Gothic";
	font-size: 150%;

}
#box li a
{
	
	float: left;
	padding: 5px 20px 40px;
	color: #fff;
	text-decoration: none;
	
}

#box li a:hover
{
	
	color: #f9811a;
	border-radius: 10px;
}

#logo
{
	position: absolute;
	width:100px;
	height: 280px;
	padding-left: 10px;
}

#footer
{
	margin: 1175px 0px 0px 0px;
	padding-top: 10px;
	width:900px;
	height:10px;
	border:1px solid #000;
	background: #000;
	position: absolute;
}

#footer p
{
	text-align: right;
	float: right;
	margin-bottom: 10px;
	font-family: "Century Gothic";
	font-size: 80%;
	color: #fff;
	display:inline;
}
